@import "tailwindcss";
@source "./app/Views/**/*.php";
@source "./public/js/**/*.js";
@plugin "daisyui" {
    themes: dark --default;
}
@plugin "@tailwindcss/typography";

@theme {
    /* Fonts */
    --font-main: "Arimo", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Fira Sans Extra Condensed", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        @apply font-main;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading;
    }
    h1, h2, h3 {
        font-weight: 700;
    }
    h4, h5, h6 {
        font-weight: 500;
    }
}

@import "./components.css";
@import "./utilities.css";
